/* VISUALIZZAZIONE TABLET  */
@media screen and (min-width: 768px) and (max-width: 992px) {

    /* HEADER  */
    .my-navbar.navbar-default {
        font-size: 9px;
    }

    .left-nav {
        margin-left: auto;
    }

    #my-header-btn {
        font-size: 9px;
    }

    /* MAIN  */

    /* jumbotron form  */
    .my-jumbotron h1 {
        font-size: 40px;
    }

    .my-form {
        margin: 0;
    }

    /* deploy section  */
    .deploy-section img {
        max-width: 30px;
    }


    /* developers section  */
    .developers-section span.glyphicon {
        font-size: 30px;

        left: 50%;
        top: 150px;
        transform: translateX(-50%);

        display: inline-block;
    }

    /* rockerbox-section  */
    .rockerbox-section span.glyphicon {
        font-size: 30px;

        left: 50%;
        top: 150px;
        transform: translateX(-50%);

        display: inline-block;
    }
}


/* VISUALIZZAZIONE DESKTOP  */
@media screen and (min-width: 970px) and (max-width: 1170px) {

    /* MAIN  */

    /* jumbotron form  */
    .my-jumbotron h1 {
        font-size: 50px;
    }

    .my-form {
        margin: 0;
    }

    /* .deploy-section  */
    .deploy-section img {
        max-width: 30px;
    }

    .deploy-section p {
        font-size: smaller;
    }


    /* developers section  */
    .developers-section span.glyphicon {
        font-size: 30px;

        left: 50%;
        top: 170px;
        transform: translateX(-50%);

        display: inline-block;
    }

    /* rockerbox-section  */
    .rockerbox-section span.glyphicon {
        font-size: 30px;

        left: 50%;
        top: 150px;
        transform: translateX(-50%);

        display: inline-block;
    }
}


/* VISUALIZZAZIONE LARGE DESKTOP  */
@media screen and (min-width: 1170px) {

    /* MAIN  */

    /* jumbotron form  */
    .my-form {
        margin: 0;
    }

    .my-jumbotron h1 {
        font-size: 60px;
    }

    /* developers section  */
    .developers-section span.glyphicon {
        font-size: 30px;

        left: 50%;
        top: 220px;
        transform: translateX(-50%);

        display: inline-block;
    }

    /* rockerbox-section  */
    .rockerbox-section span.glyphicon {
        font-size: 30px;

        left: 50%;
        top: 150px;
        transform: translateX(-50%);

        display: inline-block;
    }
}


