/* HEADER  */
header .my-img-responsive {
    max-height: 100%;
}

.my-navbar.navbar {
    margin-bottom: 0;
}

.my-navbar.navbar-default .navbar-nav>li>a{
    color: black;
}

.my-navbar.navbar-default {
    background-color: white;

    border: none;
}

.left-nav {
    margin-left: 100px;
}

#my-header-btn {
    background-color: white;
    color: rgb(103, 152, 248);

    border-color: rgb(103, 152, 248);
    padding: 5px;
    margin-top: 10px;

    box-shadow: none;
}

.my-navbar.navbar-default .navbar-toggle {
    border: none;
}

.my-navbar.navbar-default .navbar-toggle span {
    background-color: rgb(103, 152, 248);
}





/* MAIN  */
section {
    padding: 40px 0;
}



/* 1* jumbotron  */
.my-jumbotron {
    background-image: url("img/bg-banner-home.jpg");

    margin-bottom: 0;
}

.my-form {
    margin: 0px 20px;
}

.my-form h2 {
    padding: 30px 30px;
}

.my-form .btn-primary {
    background-color: rgb(103, 152, 248);
}

#terms-of-service-text {
    font-size: 13px;

    margin-bottom: 0;
    padding-bottom: 15px;
}

#my-google-logo-signup {
    max-height: 17px;
    position: relative;
    transform: translateY(20%); 
}


/* my-innovative-brands  */
.my-innovative-brands img{
    height: 150px;
}



/* deploy section  */
.deploy-section > .container > div {
    margin-top: 40px;
}

.my-list-group .list-group-item {
    border-right: none;
    border-top: none;
    border-bottom: none;
}

.my-list-group a {
    color: grey;
}


/* developers section  */
.developers-section > .container > p {
    margin-bottom: 90px;
}

.my-developers-circles div {
    width: 10px;
    height: 10px;

    border: 2px solid rgb(45, 104, 246);
    border-radius: 50%;
    margin-top: 60px;

    display: inline-block;
}

#first-circle {
    background-color: rgb(45, 104, 246);
}

.developers-section span.glyphicon {
    display: none;
}

.developers-section span.glyphicon-chevron-left {
    color: grey;
}


/* features section  */
.feature-section > .container > h3 {
    margin-bottom: 30px;
}

.feature-section .row div{
    margin-top: 20px;
}







/* VISUALIZZAZIONE TABLET  */
@media screen and (min-width: 768px) and (max-width: 992px) {

    /* HEADER  */
    .my-navbar.navbar-default {
        font-size: 9px;
    }

    .left-nav {
        margin-left: auto;
    }

    #my-header-btn {
        font-size: 9px;
    }

    /* MAIN  */

    /* jumbotron form  */
    .my-jumbotron h1 {
        font-size: 40px;
    }

    .my-form {
        margin: 0;
    }

    /* deploy section  */
    .deploy-section img {
        max-width: 30px;
    }


    /* developers section  */
    .developers-section span.glyphicon {
        font-size: 30px;

        left: 50%;
        top: 150px;
        transform: translateX(-50%);

        display: inline-block;
    }
}


/* VISUALIZZAZIONE DESKTOP  */
@media screen and (min-width: 970px) and (max-width: 1170px) {

    /* MAIN  */

    /* jumbotron form  */
    .my-jumbotron h1 {
        font-size: 50px;
    }

    .my-form {
        margin: 0;
    }

    /* .deploy-section  */
    .deploy-section img {
        max-width: 30px;
    }

    .deploy-section p {
        font-size: smaller;
    }


    /* developers section  */
    .developers-section span.glyphicon {
        font-size: 30px;

        left: 50%;
        top: 170px;
        transform: translateX(-50%);

        display: inline-block;
    }
}


/* VISUALIZZAZIONE LARGE DESKTOP  */
@media screen and (min-width: 1170px) {

    /* MAIN  */

    /* jumbotron form  */
    .my-form {
        margin: 0;
    }

    .my-jumbotron h1 {
        font-size: 60px;
    }

    /* developers section  */
    .developers-section span.glyphicon {
        font-size: 30px;

        left: 50%;
        top: 220px;
        transform: translateX(-50%);

        display: inline-block;
    }
}










/* UTILITY CLASS  */
.bg-white {
    background-color: white;
}

.bg-grey {
    background-color: rgb(243, 245, 249);
}


.text-white {
    color: white;
}

.bg-blue {
    background-color: rgb(103, 152, 248);
}

.text-black {
    color: black;
}

.text-blue {
    color: rgb(103, 152, 248);
}


.border-radius {
    border-radius: 5px;
}

