/* HEADER  */
header .my-img-responsive {
    max-height: 100%;
}

.my-navbar.navbar-default .navbar-nav>li>a{
    color: black;
}

.my-navbar.navbar-default {
    background-color: white;

    border: none;
}

.left-nav {
    margin-left: 100px;
}

#my-header-btn {
    background-color: white;
    color: teal;

    border-color: teal;
    padding: 5px;
    margin-top: 10px;

    box-shadow: none;
}


/* MAIN  */

/* 1* jumbotron  */








/* VISUALIZZAZIONE TABLET  */
@media screen and (min-width: 768px) and (max-width: 992px) {

    .my-navbar.navbar-default {
        font-size: 9px;
    }

    .left-nav {
        margin-left: auto;
    }
}











/* UTILITY CLASS  */
.bg-white {
    background-color: white;
}

.bg-grey {
    background-color: lightgrey;
}

