/* BACKGROUND-COLOUR  */
.bg-white {
    background-color: white;
}

.bg-grey {
    background-color: rgb(243, 245, 249);
}

.bg-sky {
    background-color: rgb(103, 152, 248);
}

.bg-blue {
    background-color: rgb(27, 68, 188);
}


/* TEXT-COLOUR  */
.text-white {
    color: white;
}

.text-black {
    color: black;
}

.text-grey {
    color: rgb(243, 245, 249);
}

.text-dark-grey {
    color: grey;
}

.text-sky {
    color: rgb(103, 152, 248);
}

.text-blue {
    color: rgb(27, 68, 188);
}


/* BORDER-RADIUS  */
.border-radius {
    border-radius: 5px;
}


/* DISPLAY  */
.display-none {
    display: none;
}